@{
    ViewBag.Title = "Frequently Asked Questions";
}
<h2>@ViewBag.Title</h2><hr />

<h3>How do I add an inventory entry?</h3>
<ul>    
    <li>The add button in the corner of the site table will direct you to a form for inserting a new entry to the system.</li>
</ul>

<h3>What has to be entered for each item?</h3>
<ul>
    <li>Cost and Sell price are number values.</li>
    <li>Number sold requires a number value.</li>
    <li>Dishes require character values.</li>
</ul>
<h3>How do I delete an entry?</h3>
<ul>
    <li>Select the item from list that needs to be deleted.</li>
    <li>Right click on it and then press the DELETE button.</li>
</ul>
<h3>How do I edit/update an entry if there is bad data?</h3>
<ul>
    <li>The edit button on the table directs the user to a form page to edit rows within the inventory table.</li>
</ul>
<br />

<address>
    <strong>Dynamic Developers:</strong>
    <a href="mailto:mchatte@gmu.edu">mchatte@gmu.edu</a> | <a href="mailto:mhagart2@gmu.edu">mhagart2@gmu.edu</a> |
    <a href="mailto:mlauer3@gmu.edu">mlauer3@gmu.edu</a> | <a href="mailto:tmcghane@masonlive.gmu.edu">tmcghane@masonlive.gmu.edu</a> |
    <a href="mailto:dramos5@gmu.edu">dramos5@gmu.edu</a> | <a href="mailto:azubair4@masonlive.gmu.edu">azubair4@masonlive.gmu.edu</a> | 
</address>